@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
*{
    padding: 0px;
    margin: 0px;
}

.sidebar{
    background-color: blueviolet;
    width: 10vw;
    height: 100vh;
}

.sidebar nav{
    padding: 21px;
}

.sidebar nav li{
    list-style-type: none;
    font-size: 30px;
    padding: 33px 0px;
}

.main{
    background-color: yellow;
    width: 90vw;
}
.container{
    display: flex;
}